/* Positioning */
.phl {
  padding-left: 50px;
  padding-right: 50px;
}

.pvm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pbl {
  padding-bottom: 50px;
}

.mrxs {
  margin-right: 10px;
}

@media (max-width : 480px) {
  .xs-pas {
    padding: 15px 15px 15px 15px;
  }
}



/* Display */
.hide-fully {
  display: none;
  visibility: hidden;
}



/* Buttons */
.btn-or-input {
  border: 2px solid #E0E0E0;
  border-radius: 6px 6px 6px 6px;
  font-size: .9375rem;
  line-height: 1.2rem;

  background-color: white;
}

.clickable:hover {
  cursor: pointer;
}



.type-italic {
  font-style: italic;
}
